<!DOCTYPE HTML>
<HTML>
    <BODY>

        <!--addNewUrl(@RequestParam String urlFull, Map<String, Object> model)-->
        <div>
            <form method = "post" action = "/">
                <input type = "text" name = "urlFull" placeholder = "Введите URL-адрес для регистрации" />
                <button type = "submit">Зарегистрировать</button>
            </form>
        </div>

        <!--public String showAllUrls(Map<String, Object> model)-->
        <div>Список зарегестрированных URL-адресов</div>
        {{#urlLines}}
        <div>
            <b>{{id}}</b>
            <span>|</span>
            <span>{{urlFull}}</span>
            <span>|</span>
            <span>{{urlCrop}}</span>
        </div>
        {{/urlLines}}

        <!--filter(@RequestParam String filter, Map<String, Object> model)-->
        <form method = "post" action = "/filter">
            <input type = "text" name = "filter"/>
            <button type = "submit">Найти</button>
        </form>

        <div>
            <form method = "post" action = "/deleteId">
                <input type = "text" name = "id" placeholder = "Введите Id удаляемого URL" />
                <button type = "submit">Удалить</button>
            </form>
        </div>

        <div>
            <form method = "post" action = "/deleteUrl">
                <input type = "text" name = "url" placeholder = "Введите URL удаляемого URL" />
                <button type = "submit">Удалить</button>
            </form>
        </div>
        <li class="nav-item active">
            <a class="nav-link" href="/main">В начало <span class="sr-only"></span></a>
        </li>
    </BODY>
</HTML>