<!DOCTYPE html>
<html lang="en">
<head>
    <title>Главная страница</title>







    <li class="nav-item active">
        <a class="nav-link" href="/list">К списку<span class="sr-only">(current)</span></a>
    </li>
</head>
<body>

</body>
</html>